@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<Plant>
@{
    ViewData["Title"] = "Plants";
}

<style>
    .plant-card {
        max-width: 520px;
    }

    .image {
        width: 100%;
    }

    .title {
        width: 100%;
    }
</style>



<div class="row">
    @foreach (var plant in Model)
    {
        <div class="col-sm-6 col-md-6 col-xl-4 mb-3">
            <div class="card bg-light mb-3 plant-card">
                <div class="row g-0">
                    <div class="col-md-6">
                        <img class="image" src="@plant.ImageURL" alt="@plant.Name" />
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h4 class="card-title">@plant.Name</h4>
                            <p class="card-text">Quantity: @plant.Quantity</p>
                            <p class="card-text">Price: @plant.Price $</p>
                            <a asp-action="Description" asp-route-id="@plant.Id" class="btn btn-outline-secondary float-right">
                                Show details
                                <i class="bi bi-eye-fill"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer">
                            <p class="card-text">
                                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                {
                                    <a class="btn btn-info" asp-route-id="@plant.Id" asp-action="Edit"><i class="bi bi-pencil"></i>Edit plant</a>}
                                <a class="btn btn-success" asp-controller="Orders" asp-action="AddItemToShoppingCard" asp-route-id="@plant.Id"><i class="bi bi-card-plus"></i>Add to basket(@plant.Price$)</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        <div class="row">
            <a class="btn btn-outline-primary" asp-action="Create"><i class="bi bi-card-plus"></i>Create new</a>
        </div>}
    </div>
